@model QuanLyBanGiayASP.Models.ViewModels.OrderDetailViewModels
@using QuanLyBanGiayASP.Extensions
@using QuanLyBanGiayASP.Utility

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2 class="text-info">Delete Order</h2>

<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Order.ID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order.Customers.CustomerName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Order.Customers.CustomerName" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order.Customers.Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Order.Customers.Email" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order.Date"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Order.Date" id="datepicker" readonly type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order.Time"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Order.Time" id="timepicker" readonly type="text" class="timepicker form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order.Customers.Phone"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Order.Customers.Phone" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order.SalerPerson"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Order.SalerPerson.Name" readonly class="form-control" />
                        <input asp-for="@Model.Order.SalesPersonId" hidden />

                    }
                    else
                    {
                        <select asp-for="@Model.Order.SalesPersonId" disabled asp-items="Model.SalesPerson.ToSelectListItemString(Model.Order.SalesPersonId)" class="form-control"></select>

                    }
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Order.isConfirmed"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Order.isConfirmed" readonly class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-6">
            @* Partial View *@
            <partial name="~/Views/Shared/_OrderProductDetails.cshtml" model="Model" />
        </div>



        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Order.ID" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts{

    <script>
    $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");

            }
            else {
                splitData = appointmentTime.split("T");

            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);

            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', splitData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);

        });</script>
}