@model IEnumerable<QuanLyBanGiayASP.Models.ImportDetails>
@using QuanLyBanGiayASP.Data;

@{
    ViewData["Title"] = "Index";
}
<br />
<br />

<div class="row">
    <div class="col-12">
        <h2> Import  List</h2>
    </div>
    <div style="margin-top:30px"></div>
    <div class="col-6"></div>
    <div class="col-3">
        <a asp-action="Create" class="btn btn-sm animated-button thar-four"><i class="fas fa-plus"></i>&nbsp; New Import</a>
    </div>
    <div class="col-3">
        <a asp-action="Add" class="btn btn-sm animated-button thar-four"><i class="fas fa-plus"></i>&nbsp; Add Import</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Date import
            </th>
            <th>
                Amount
            </th>
        </tr>

        @{

            int count = 0;
            DateTime date = DateTime.Now;
            foreach (var itemout in Model)
            {
                if (date == DateTime.Now || itemout.DateImport != date)
                {
                    foreach (var itemin in Model)
                    {
                        if (itemin.DateImport == itemout.DateImport)
                        {
                            count++;
                        }
                    }
                    date = itemout.DateImport;
                    <tr>
                       <td>
                          @Html.DisplayFor(t =>itemout.DateImport)
                       </td>
                       <td>
                          @count
                       </td>
                    </tr>                


                }

            }

        }

    </table>
</div>


